/* Basic styles for the profile header */
.profile-header {
    position: relative;
}

/* Style for the cover image */
.cover-image {
    width: 100%;
    height: 300px; /* Set the desired height for the cover image */
    background-image: url("pic.png"); /* Replace with the path to your cover image */
    background-size: cover;
    background-position: center;
    border-radius: 10px; 
    border: 3px solid #fff;
    /* Add more styles as needed */
}

/* Style for the profile image */
.profile-image {
    position: absolute;
    top: 220px; /* Adjust top position as needed to align with the cover image */
    left: 20px; /* Adjust left position as needed */
    width: 150px; /* Set the desired width for the profile image */
    height: 150px; /* Set the desired height for the profile image */
    border-radius: 50%; /* Make it circular */
    overflow: hidden;
    border: 3px solid #fff; /* Optional: Add a border */
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Add more styles as needed */
}


.profile-text{
    position: absolute;

    top: 400px;
    margin-left: 180px;
    font-size: 30px;
    }


    


.edit-btn
{
	outline:none;
	margin-top:25px;
	
	padding:8px;
	border:none;
	border-radius:20px;
	text-decoration:none;
	width:100px;
	color:white;
	background-color:#4F4F4F;
	font-family:caviar dreams;
	font-size:11pt;
	font-weight:bold;
	cursor:pointer;
	transition:0.4s;
    margin-top: 100PX;
}

.edit-btn:hover
{
	background-color:rgb(0, 217, 255);
	color:black;
}

.down{
    margin-top: 100px;
}


.container1{
    position: absolute;
}

.custom-button {

    padding: 10px 20px;
    font-size: 16px;
    background-color: #4c56af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-left: 1100PX;
    margin-top: 20PX;
  }
  
  .custom-button:hover {
    background-color: #45a049;
  }

  .c{
    margin-top: 90px;
  }


  .post {
    margin-top: 120px;
    width: 440px;
    height: auto;
    margin: 20px auto;
    padding: 30px 30px 40px 35px;
    border-radius:20px;
    border: 2px solid rgb(0, 0, 0);
  }
  .post-info {
    margin: 10px 10px 10px 10px;
    padding: 5px;
  }


  .delete-button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #cb483f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #ff0000;
  }
  