.bg{
    background-color:#0295A9;
}

.nText{
    font-weight: bold;


}

.searchTB{
  
	width:250px;
	border-radius:3px;
	border: white;
	resize:none;
}

.btn
{
	border-radius:50px;

	color:white;
	cursor:pointer;
	transition:0.4s;
}

.btn:hover
{
	background-color:rgb(0, 217, 255);


}



.navigation a.active {
    text-decoration: underline;
}


.navigation a {
    text-decoration: none;
}


.navigation a {
    color: #333; /* Default text color */
}


.navigation a:hover {
    text-decoration: underline;
}

.ml {
	margin-left: auto;
}


.navbar-nav .nav-link {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff; 
    transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
}

.navbar{
 height: 80px;
}